---
layout: page
---

<style type="text/css">
.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-gap: 1em;

  article {
    display: block;

    h1 {
      font-size: 1em;
      font-weight: normal;
      margin: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      transition: var(--transition-default);
    }

    a:hover {
      color: var(--color-accent);
    }

    time {
      font-family: var(--font-serif);
      font-size: 0.85em;
      color: var(--color-fg-light);
    }

    img {
      max-width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  }
}

[aria-label="Pagination Navigation"] {
  margin: 2em;
  text-align: center;

  --border-size: 2px;

  ul {
    display: inline-block;
    border: var(--color-accent) solid var(--border-size);
    border-radius: .25rem;
    padding: 0;

    li {
      display: inline-block;

      transition: var(--transition-default);

      a {
        display: inline-block;
        padding: 0.5em;
        color: var(--color-accent);

        text-decoration: none;

        transition: var(--transition-default);
      }
    }

    li:hover {
      background-color: var(--color-accent);

      a {
        color: var(--color-bg);
      }
    }

    [aria-current="page"] {
      background-color: var(--color-accent);

      a {
        color: var(--color-bg);
      }
    }
  }
}
</style>

<h1>{{ page.title }}</h1>

{{ content }}

<div class="archive">
{% for post in paginator.posts  %}
<article>
  {% if post.image %}
  <a href="{{ post.url }}">
    <img src="{{ post.image }}"
         alt="Picture of {{ post.title }}">
  </a>
  {% endif %}

  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <time datetime="{{ post.date | date_to_xmlschema }}">
    {{ post.date | date: "%B %-d, %Y" }}
  </time>
</article>
{% endfor %}
</div>


{% if paginator.total_pages > 1 %}
<nav role="navigation" aria-label="Pagination Navigation">
  <ul>
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path }}">⇐</a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %}aria-current="page"{% endif %}>
      <a href="{{ trail.path }}" title="{{trail.title}}">{{ trail.num }}</a>
    </li>
    {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path }}">⇒</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}

